:root {
  --md-primary-fg-color:        #29363b;
  --md-primary-fg-color--light: #808080;
  --md-primary-fg-color--dark:  #29363b;
  --md-accent-fg-color:         hsla(117, 66%, 51%, 0.7);
  --md-text-font-family:        "Oswald",sans-serif;
}

:root > * {
  --md-typeset-a-color:         #38d430;
}

.logo1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  padding: 20px;
}

.row {
  display: flex;
}

.column {
  width: 50%;
  padding: 30px;
  align-items: center;
}

.column1 {
  width: 50%;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}

.column2 {
  width: 50%;
  padding: 30px;
}

